[submodule "predix-scripts"]
	path = predix-scripts
	url = https://github.com/predixdev/predix-scripts.git
	branch = master
[submodule "predix-sdks"]
	path = predix-sdks
	url = https://github.com/predixdev/predix-sdks.git
	branch = master
[submodule "Predix-HelloWorld-WebApp"]
	path = Predix-HelloWorld-WebApp
	url = https://github.com/predixdev/Predix-HelloWorld-WebApp.git
	branch = master
[submodule "data-seed-service"]
	path = data-seed-service
	url = https://github.com/predixdev/data-seed-service.git
	branch = master
[submodule "fdh-router-service"]
	path = fdh-router-service
	url = https://github.com/predixdev/fdh-router-service.git
 	branch = master
[submodule "rmd-datasource"]
	path = rmd-datasource
	url = https://github.com/predixdev/rmd-datasource.git
	branch = master
[submodule "rmd-ref-app-ui"]
	path = rmd-ref-app-ui
	url = https://github.com/predixdev/rmd-ref-app-ui.git
	branch = master
[submodule "predix-websocket-server"]
	path = predix-websocket-server
	url = https://github.com/predixdev/predix-websocket-server.git
	branch = master
[submodule "dataingestion-service"]
	path = dataingestion-service
	url = https://github.com/predixdev/dataingestion-service.git
[submodule "machinedata-simulator"]
	path = machinedata-simulator
	url = https://github.com/predixdev/machinedata-simulator.git
