[submodule "predix-sdks"]
	path = predix-sdks
	url = https://github.com/PredixDev/predix-sdks.git
	branch = master
[submodule "data-exchange"]
 	path = data-exchange
 	url = https://github.com/PredixDev/data-exchange.git
 	branch = master
[submodule "data-exchange-simulator"]
 	path = data-exchange-simulator
 	url = https://github.com/PredixDev/data-exchange-simulator.git
 	branch = master
[submodule "rmd-datasource"]
	path = rmd-datasource
	url = https://github.com/PredixDev/rmd-datasource.git
	branch = master
[submodule "predix-webapp-starter"]
	path = predix-webapp-starter
	url = https://github.com/PredixDev/predix-webapp-starter.git
	branch = master
[submodule "predix-websocket-server"]
	path = predix-websocket-server
	url = https://github.com/PredixDev/predix-websocket-server.git
	branch = master
